@{
    List<Pais> paises = ViewData["Pais"] as List<Pais>;
}

<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-4">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <p>NUEVA CAMISETA</p>
                        </div>
                        <form asp-action="CreateCamiseta" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="equipo" type="text" class="form-control" placeholder="Equipo" required />
                                        <label for="equipo" class="form-label">Equipo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="pais" class="form-label">País</label>
                                    <select name="pais" class="form-select" required>
                                        @foreach (var pais in paises)
                                        {
                                            <option value="@pais.CodigoPais">@pais.NombrePais</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="equipo" type="text" class="form-control" placeholder="Equipo" required />
                                        <label for="equipo" class="form-label">Equipo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="marca" type="text" class="form-control" placeholder="Marca" required />
                                        <label for="marca" class="form-label">Marca</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="year" type="number" class="form-control" placeholder="1990" required />
                                        <label for="year" class="form-label">Año</label>
                                    </div>
                                </div>
                                @* Posicion input *@
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="condicion" type="text" class="form-control" placeholder="Condicion" required />
                                        <label for="condicion" class="form-label">Condicion</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="dorsal" type="number" class="form-control" placeholder="Dorsal" />
                                        <label for="dorsal" class="form-label">Dorsal</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <input name="imagenCamiseta" type="file" class="form-control" accept="image/*" required />
                                    <label for="imagenCamiseta" class="form-label">Imagen</label>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input name="jugador" type="text" class="form-control" placeholder="Jugador" />
                                        <label for="jugador" class="form-label">Jugador</label>
                                    </div>
                                </div>
                                

                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg" type="submit">Subir Camiseta</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-4">
                    <p class="m-0 text-secondary text-center">¿Ya tienes cuenta? <a href="#!" class="link-primary text-decoration-none">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
